<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main_suite">
    <listeners>
        <listener class-name="test.java.Utils.Listener"/>
        <listener class-name="test.java.Utils.AnnotationTransformer"></listener>
    </listeners>
    <test name="Main_test2">
        <classes>
            <class name="test.java.Test.MaintTest">
                <methods>
                    <include name="testMessage"/>
                </methods>
            </class>
            <!--<class name="test.java.Test.MaintTest2"/>-->
        </classes>
    </test>
</suite>